.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: whitesmoke;
    opacity: 0.9;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.3s ease-out;
    box-shadow: 0 2px 48px rgba(0,0,0,0.50);
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
/* .logoColor { 
    background-color: darkgrey;
} */
.Logo {
    height: 11%; 
    margin-bottom: 32px;
  
}